<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">GGSoftware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/orcamento">Novo orçamento <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin/orcamentos">Ordens de Serviço</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link " href="/admin/cadastrarcliente">Novo Cliente</a>
      </li>
      </li>
       <li class="nav-item active">
        <a class="nav-link " href="/admin/clientes">Clientes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="/admin/relatoriopagamentos">Relatorio de pagamentos</a>
      </li>
    </ul>
  </div>
</nav>

